<div class="testomonialimage">
    <div class="testomonialimage_1">{{ content.body.0 }}</div>
    <div class="testomonialimage_2">{{ content.field_image.0 }}</div>
    <div class="testomonialimage_3">{{ content.field_name.0 }}</div>
    <div class="testomonialimage_4">{{ content.field_designation.0 }}</div>
</div>