
<div class="parent_subscription">
<div class="subscription">

    <div class="subscription_field_name"> {{ content.field_name }}</div>
    <div class="subscription_field_number"> {{ content.field_number }}</div>
    <div class="subscription_field_body"> {{ content.body }}</div>

    <div class="subscription_field_price"> {{ content.field_pricelink }}</div>
</div>
</div>