 {% include "@molecules/topmenu/topmenu.twig" %}
<div class="margin-top">{% include "@molecules/welcome/welcome.twig" %}</div>
<div class="margin-top">{% include "@molecules/about/about.twig" %}</div>
<div class="margin-top"> {% include "@molecules/services/service.twig" %}</div>
<div class="margin-top"> {% include "@organisms/cardsection/cardsection.twig" %}</div>
<div class="margin-top"> {% include "@molecules/teamheading/teamheading.twig" %}</div>
<div class="margin-top"> {% include "@organisms/team/team.twig" with {
  
} %}</div>
<div class="margin-top container">{% include "@organisms/slider/slider.twig" %}</div>
<div class="margin-top">{% include "@organisms/rotate/rotate.twig" %}</div>
<div class="margin-top footer-bg-color"> {% include "@molecules/footer/footer.twig" %}</div>