.margin-top{
 
  margin-top:7%;
}
body{
 a{
  text-decoration: none;

 } 
}
.footer-bg-color{
  background-color: #fafafa;

    height: 8rem;
    display: flex;
    align-items: center;
 
  
    .image{
      width:5rem;
    }
}