{# {{ dd(content)}} #}

{% embed "@molecules/teamheading/teamheading.twig" %}

	{% block teamhead %}
		{% set i = 1 %}
		{% for item in content.field_team_title %}

			{% if item["#context"] %}
				{% if i == 3 %}
					{% set i=1 %}
				{% endif %}


				{% include "@atoms/text/headings/_heading.twig" with {
        heading_level:i,
        heading: item['#context'].value,
        
     } %}
				{% set i = i+1 %}
			{% endif %}

		{% endfor %}
	{% endblock %}
{% endembed %}

<div {{bem("flex-content",'','', ["container"])}}>
	{% block teamimage  %}
		{% for item in 0..3 %}


			{% embed "@molecules/team/team.twig" with {

                    team_image_src:file_url(content.field_team_image["#items"][item].entity.fileuri),

                } %}
                {% block teamheading %}
	{% for item in content.field_image_title %}
  {% if item["#context"] %}

		{% include "@atoms/text/headings/_heading.twig"  with {
        heading_level: item.level, 
        heading: item["#context"].value,
      
    
        
      } %}
      {% endif %}

	{% endfor %}
{% endblock %}


{% endembed %}
		{% endfor %}
	{% endblock %}

</div>

