.slick-prev::before {
  content: '←' !important;
  font-family: sans-serif !important;
  font-size: 54px !important;
  color: red !important;
  margin: left -20% !important;
}

.slick-prev {
  font-weight: bold !important;
  // left:2vw !important;
}

.slick-next {
  font-weight: bold !important;
  right: 2vw !important;
}

.slick-next::before {
  font-family: sans-serif !important;
  content: '→' !important;
  font-size: 54px !important;
  color: red !important;
  position: relative !important;
  width:400px !important;
 
}
.slick-next:hover{
  &::before{
width:130px !important;
// color:black !important;

  }
}
