<div class="price">
    <div class="price_1">{{ content.field_text.0 }} </div>
    <div class="price_2">{{ content.field_number.0 }} </div>
    <div class="price_3">{{ content.field_plaintext.0 }} </div>

    <div class="price_4">{{ content.field_link.0 }} </div>
</div>
