<div class="para">
    <div class="title">{{ content.field_title }}</div>
    <div class="parabody"> {{ content.body }}  </div>
    <div class="para_description">{{ content.field_para }}</div>
    
</div>