<div class="team">

{{ content.field_image.0 }}
<div class="addtoany">{{ content.addtoany }}</div>
<div class="team_1">

<h3>{{ content.field_name.0 }}</h3>
{{ content.field_designation.0 }}</div>

</div>