// .overlay-bg-color {
//   opacity: 0.2;
//   background-color: rgb(242, 56, 1);
//   bottom: 0;
//   left: 0;
//   position: absolute;
//   right: 0;
//   top: 0;
//   z-index: 0;
//   pointer-events: none;
// }

// .img-wrap {
//   margin: auto;

//   picture {
//     flex-wrap: wrap;
//   }

//   img {
//     max-width: 45%;
//     // height:100%;
//     margin: auto;
//     position: relative;
//     margin-bottom: 40px;
//   }
// }

// .aboutflexbox {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   position: relative;


//   .text-wrapper {
//     .h6 {
//       font-family: 'Work Sans', sans-serif;
//       font-size: 0.94rem;
//       line-height: 1.73;
//       text-align: center;
//       color: red;
//       position: relative;
//       z-index: 1;

//       font-family: sans-serif;
//     }

//     margin: auto;
//     max-width: 47%;
//     .h6:nth-child(1){
//       margin-top:4rem;
//     }

//     .h6 {
//       .h6__link:nth-child(1) {
 
//         text-align: center;
//         color: white;
//         position: relative;
//         z-index: 1;
//       }

//     }

//   }

//   .h6:nth-child(2) {
//     .h6__link {
//       text-align: center;
//       font-size: 44px;
//       color: #ffffff;
//       word-break: break-word;
//       word-wrap: break-word;
//       font-weight: 400;

//     }


//   }

//   .h6:nth-child(3) {
//     line-height: 1.5;
//   }
// }

// .aboutflexbox .text-wrapper .h6 .h6__link:nth-child(1) {
//   font-weight: bold;
//   line-height: 1.2;

// }
// .aboutflexbox{
//   .text-wrapper{
//     .h6:nth-child(2){
//       .h6__link{
//         font-family: 'Cormorant', serif;
// font-size: 3.43rem;
// line-height: 1;
//       }
//     }
//   }
  
// }

.overlay-bg-color {
  opacity: 0.2;
  background-color: rgb(242, 56, 1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

.img-wrap {
  margin: auto;

  picture {
    flex-wrap: wrap;
  }

  img {
    max-width: 45%;
    // height:100%;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
  }
}

.aboutflexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;


  .text-wrapper {
    .h6 {
      font-family: 'Work Sans', sans-serif;
      font-size: 0.94rem;
      line-height: 1.73;
      text-align: center;
      color: red;
      position: relative;
      z-index: 1;

      font-family: sans-serif;
    }

    margin: auto;
    max-width: 47%;
    .h6:nth-child(1){
      margin-top:4rem;
    }

    .h6 {
      .h6__link:nth-child(1) {
 
        text-align: center;
        color: white;
        position: relative;
        z-index: 1;
    
      }

    }

  }

  .h6:nth-child(2) {
    .h6__link {
      text-align: center;
      font-size: 44px;
      color: #ffffff;
      word-break: break-word;
      word-wrap: break-word;
      font-weight: 400;

    }


  }

  .h6:nth-child(3) {
    line-height: 1.5;
  }
}

.aboutflexbox .text-wrapper .h6 .h6__link:nth-child(1) {
  font-weight: bold;
  line-height: 1.2;

}
.aboutflexbox{
  .text-wrapper{
    .h6:nth-child(2){
      .h6__link{
        font-family: 'Cormorant', serif;
font-size: 3.43rem;
line-height: 1;
      }
    }
  }
  
}

.text-wrapper{
  .h6:nth-child(1){
    font-size: 1rem;
    color:white;
    font-weight:bold;

}
.h6:nth-child(3){
  font-size: 1rem;
  color:white;
  font-weight:bold;

}
  .h6:nth-child(2){
    font-family: "Cormorant", serif;
    font-size: 3.43rem;
    line-height: 1;
    color:white;
    font-weight:bold;
  }
}
.aboutflexbox{
  padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("https://mobirise.com/extensions/successm4/seo-agency/assets/images/background22.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}