<div class="newsletter">

    <div class="news_1">{{ content.field_text_1 }}</div>
    <div class="news_2">{{ content.body }}</div>
    <div class="news_3"><input type="text" placeholder="Subcribe">
        <div class="news_5">{{ content.field_link}}</div>
    </div>
    
</div>